<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trello</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Style.css">

</head>
<body>

    <header>
        <div class="container">
            <h2>Task Management</h2>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>

    <footer id="rodape">
        <p>&copy; @DateTime.Now.Year - Bruno Salvador Pereira</p>
    </footer>

</body>
</html>
